 <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand">
                        <%= image_tag ("logo.png")%></a>
                    </div>
                </div>
            </div>
        </div>