<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="top-header-content d-flex align-items-center justify-content-between">
                    <!-- Search Form -->
                    <div class="search-form">
                        
                        <%= form_for :search,method: "get", url: search_path, html: {class: "form-inline", id: "login_form"} do |f| %>
                        <div class="form-group mx-sm-3 mb-2"> 
                             <i class="fa fa-search"> <%= f.text_field :search_text, class: "form-control text-input-login",placeholder:"Search and hint enter..." %></i>
                        </div> 
                       <%= f.submit "Search", class:"btn btn-info mb-2  " %>
                       
                        <% end %>     
                    </div>

                        <!-- Social Button -->
                        <div class="top-social-info">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>