<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "application.css" %>
  </head>
  <body>

<div class="jumbotron text-center">
<h1>Hi <%= @user.user_name %></h1>
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Thank you for using our system. We looking forward to receiving more request from you.</strong> </p>
  <hr>
  <p>
    You Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <%= link_to  "Continue to homepage", "http://localhost:3000/", class:"btn btn-primary btn-sm",role:"button" %>
  </p>
</div>
  </body>
</html>