<section class="blog-content-area section-padding-100">
        <div class="container">
            <div class="row">
                <!-- Featured Post Area -->
               <%= render "shared/blog-content/featured-post-area" %> 
            </div>

            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
               <%= render "shared/blog-content/blog-post-area" %>

                <!-- Blog Sidebar Area -->
               <%= render "shared/blog-content/blog-sidebar-area" %>
            </div>
        </div>
    </section>