 <header class="header-area">

        <!-- Top Header Area -->
        <%= render "shared/header/top-header" %> 
        <!-- Logo Area -->
        <%= render "shared/header/logo-area" %> 

        <!-- Navbar Area -->
         <%= render "shared/header/navbar-area" %> 
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>