<li class="single_comment_area">
    <div class="comment-wrapper d-flex">
        <!-- Comment Meta -->
        <div class="comment-author">
            <img src="img/blog-img/15.jpg" alt="">
        </div>
        <!-- Comment Content -->
        <div class="comment-content">
            <span class="comment-date">27 Aug 2018</span>
            <h5><%= User.find(comment.user_id).user_name %></h5>
            <p><%= comment.content %></p>
            <% if comment.user_id == current_user.id %>
                <a href="#">Edit</a>
                <a class="active" href="#">Delete</a>
            <% end %>
        </div>
    </div>
</li>