<div class="container single-post-details-area form-add-book">
    <h3 style="text-align: center;">Create Book</h3>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Book Name </label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Book Name">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Author</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Author Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Categories</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Publish Date</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  
   
  <div class="form-group">
    <label for="exampleInputEmail1">Description</label>
    <textarea class="form-control ckeditor" id="ckeditor" aria-describedby="emailHelp"> </textarea>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1">Cover Image</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Submit</button>
</form>

</div>
