.form-add-book{
    margin-top: 5%;
    border: 1px solid black;
    padding-top: 5%;
    padding-bottom: 5%;
}
#btn-form-admin{
    text-align: center;
    padding: .75rem 1.25rem;
}
.btn-edit-book{
    margin-left: 2%;
}
#paginate-admin{
    font-size: 25px;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 5%;
}
