// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {  
    // background-image: linear-gradient(#6A181E,#6A181D);
    // }
    // background-color:#e9faff;
    background: url(/assets/abc2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
} 
h2{
    display: block;
    font-family: OpenSans-Regular;
    font-size: 30px;
    color: black!important;
    line-height: 1.2;
    text-align: center;
    margin-top: 5%;
 }
 .row-fluid{
     padding-top: 100px;
 } 
#box {  
    background-color: white!important;
    border: 1px solid rgb(149, 226, 231);   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px; 
    background: rgba(200, 200, 200, 0.1);   
    border-radius: 4px; top:50px;
    margin-left: 34%;


    width: 500px;
    border-radius: 10px;
    overflow: hidden;
}
input{
    height: 68px !important;
    padding: 0 25px 0 25px;
    display: block;
    width: 100%;
    background: transparent;
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #666666;
    line-height: 1.2;
    
}
.pull-right{
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
     
h2 {    
    text-align:center;  
    color:#fff;
}
.txt2 {
    font-family: OpenSans-Regular;
    font-size: 15px;
    line-height: 1.4;
    color: #4272d7;
}